.Home>header>*, 
.Home>section>*{
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--c2);
}
.Home>section{
    background: var(--c2);
}


.Home .draw{
    height: 100%;
    width: 100%;

    overflow: hidden;
    position: absolute; 
    align-items: center;
}
    .draw::before{
        width: 150%;
        height: 100%;
        transform: rotate(20deg);

        content: "";
        position: absolute; left: 50%;
        background: var(--c2);
    }
    .draw::after{
        width: 150%;
        height: 100%;
        transform: rotate(50deg);

        content: "";
        position: absolute; right: 50%;
        background: var(--c3);
    }