.CartCard{
    margin: 5vw;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    color: var(--c2);
    background: var(--c5);
    border-radius: 5px;
}
    .CartCard tr{
        padding: 0 5px;
        border-bottom: 1px solid var(--c3);
    }
        .CartCard tr button{
            padding: 0;
            border-radius: 50%;
            background: transparent;
        }
        .CartCard tr>td:nth-child(2){
            width: 100%;
            padding: 5px;
        }
        .CartCard tr>td.price{
            font-size: 3vh;
            text-align: right;
            font-weight: bold;
        } 



.cronology{
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
    .CronologyCard{
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        background: var(--c2);
        border-radius: 5px;
    }
    .CronologyCard tr{
        padding: 0 5px;
        border-bottom: 1px solid var(--c3);
    }
        .CronologyCard tr>td:first-child{
            width: 100%;
            padding: 5px;
        }
        .CronologyCard tr>td.price{
            font-size: 3vh;
            text-align: right;
            font-weight: bold;
        } 
