    /* TODO INDICE DELLE CATEGORIE */
.OrdinationsIndex .indexSlider{
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    overflow-x: scroll;
}
    .indexSlider>*{
        padding: 5px;
        border-radius: 10px;
        background: var(--c2);
        color: var(--c5);
    }
        .indexSlider img{
            object-fit: cover;
            height: 100px;
            width: 120px;
        }
        .indexSlider .categoryTitle{
            padding: 5px;
            text-align: center;
        }


    /* TODO CARD */
.Ordinations .productCategoryTitle{
    margin: 50px 10px 10px;
    text-align: center;
}
.Ordinations .flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.OrdinationsCard{
    margin: 20px;
    width: 300px;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    box-shadow: 0px 5px 20px 0px black;
    background: var(--c2);
    border-radius: 10px;
}
    /* CONTENUTO DIRETTO */
    .OrdinationsCard>img{
        height: 200px;
        object-fit: cover;
    }
    .OrdinationsCard>.price{
        padding: 10px 15px;
        top: 170px;
        left: 20px;

        position: absolute;

        background: var(--c5);
        border-radius: 50px;
        font-weight: bold;
    }
    .OrdinationsCard>div{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
        /* ELEMENTI */
        .OrdinationsCard .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            text-align: left;
        }
        .amount{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            background: var(--c5);
            border-radius: 5px;
        }
        .amount>*:last-child{
            border: 0;
        }
        .amount button{
            height: 35px;
            padding: 5px;
            border-radius: 0;
            background: transparent;
            border-bottom: 1px solid var(--c2);
        }
        .amount button:active{
            background-color: var(--c3);
        }

/* @media only screen and (min-width: 600px) {} */