html, body, #root{
  min-height: 100vh;
  margin: 0;
  padding: 0;

  --c1:#111;
  --c2:#444;
  --c3:#888;
  --c4:#ccc;
  --c5:#fff;
  --st:#50505050;

  background: linear-gradient(30deg, var(--c1), var(--c3));
}
*{
  padding: 0;
  margin: 0;

  transition: 0.3s;
  color: var(--c5);
}

nav{
  position: sticky; bottom: 0; z-index: 10;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  background: var(--c2);
}
nav>a>img{
  height: 30px;
}

header{
  padding:50px 0;
}
section{
  padding:50px 0;
  background: var(--c2);
}



button{
  padding: 10px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  
  border: 0;
  border-radius: 10px;
  background: var(--c3);
}
a{
  text-decoration: none;
}
  button img, a img{
    height: 25px;
  }

h1{ padding-top: 50px; font-size: 6vh; }