html, body, #root{
  min-height: 100vh;
  margin: 0;
  padding: 0;

  --c1:#111;
  --c2:#444;
  --c3:#888;
  --c4:#ccc;
  --c5:#fff;
  --st:#50505050;

  background: linear-gradient(30deg, var(--c1), var(--c2));
}
*{
  padding: 0;
  margin: 0;

  transition: 0.3s;
  color: var(--c5);
}

nav{
  position: sticky; top: 0; z-index: 10;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  background: var(--c2);
}



button{
  padding: 10px;
  
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  
  border: 0;
  border-radius: 10px;
  background: var(--c1);
}
