html, body, #root{
  min-height: 100vh;
  margin: 0;
  padding: 0;

  --c1:#2f2824;
  --c2:#605040;
  --c3:#9d816c;
  --c4:#c9bc94;
  --c5:#d1cdb3;
  --st:#50505050;

  background: var(--c1);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: 2.5vh;
  transition: 0.3s;
}

nav{
  position: fixed; bottom: 0; z-index: 10;
  width:100% ;
  padding-top: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  background: var(--c2);
  box-shadow: 0 0 20px 0 black;
}
  nav>a>img{
    padding: 5px;
    height: 5vh;
    border-radius: 5px;
  }
  .act{
    height: 15px;
    width: 15px;
    position: absolute; top: 5px;

    background: var(--c4);
    border-radius: 100%;
  }

  
header, section{
  min-height: 40vh;
  color: var(--c5);
}
header { padding-top: 50px; }
section { padding-bottom: 50px; }


.gap{
  height: 10vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
  .gap::after{
    height: 100%;
    width: 110%;
    transform: rotate(-2deg);
    position: absolute; top: 50%;
    content: "";
    box-shadow: 0 0 20px 0 black;
  }